# Detect Pass the Hash
### This is the SPL2 to test content: detections/endpoint/detect_pass_hash__ssa.yml

In [1]:
| from read_text("s3://smle-experiments/datasets/ssa/T1550.002.json")
| eval input_event=from_json_object(value)
| eval _time=map_get(input_event, "_time"), EventCode=map_get(input_event, "event_code"), LogonType=map_get(input_event, "logon_type"), LogonProcess=map_get(input_event, "logon_process"), ComputerName=map_get(input_event, "dest_ip_primary_artifact"), AccountName=map_get(input_event, "dest_user_primary_artifact")
| where (LogonType="3" AND LogonProcess="NtLmSsp" AND AccountName IS NOT NULL) OR (LogonType="9" AND LogonProcess="seclogo")
| first_time_event cache_partitions=1 input_columns="EventCode,LogonProcess,ComputerName"
| where first_time_EventCode_LogonProcess_ComputerName
| eval start_time=_time, end_time=_time, body="TBD", entities="TBD"
| select start_time, end_time, entities, body 
;

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=5.0), HTML(value='')))

 Finished.

   end_time  start_time body entities
0         6           6  TBD      TBD
1         8           8  TBD      TBD